{% extends 'base.html' %}
{% block title %}Login — Aashay's Sign Lang{% endblock %}

{% block content %}
{% if msg %}
<div class="alert alert-info">{{ msg }}</div>
{% endif %}

<div class="mb-md-5 mt-md-4 pb-5">
    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
    <p class="text-white-50 mb-5">Please enter your login and password</p>

    <form action="/login" method="POST">
        <div class="form-outline form-white mb-4">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control form-control-lg" required>
        </div>
        <div class="form-outline form-white mb-4">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control form-control-lg" required>
        </div>
        <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
    </form>
</div>

<div>
    <p class="mb-0">Don't have an account?
        <a href="/register" class="text-white-50 fw-bold">Register</a>
    </p>
</div>
{% endblock %}
